/* 全局样式表 最后修改日期20140314 */

/* reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, fieldset, form, lengend, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body, button, select, textarea, input {
	font-family:Arial,"SimSun", HELVETICA;
	font-size:12px;
	background:#ffffff;
	-webkit-text-size-adjust:100%;
	color:#6C6C6C;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
address, cite, dfn, em, var, i {
	font-style: normal
}
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace
}
small {
	font-size: 12px
}
ul, ol ,dl{
	list-style: none
}
legend {
	color: #000
}
fieldset, img {
	border: none
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align:middle
}
textarea{
	resize:none;
}
table {
	border-collapse: collapse;
	border-spacing:0
}
img {
	vertical-align:bottom
}
input,select,textarea{
	border:1px solid #CCC;
	padding:3px;
}
input,textarea{
	color:#101010;
	border:1px solid #ddd;
	border-top-color:#bbb;
	border-radius:2px;
	vertical-align:middle;
	-webkit-transition:border linear .2s, box-shadow linear .2s;
	-moz-transition:border linear .2s, box-shadow linear .2s;
	-ms-transition:border linear .2s, box-shadow linear .2s;
	-o-transition:border linear .2s, box-shadow linear .2s;
	transition:border linear .2s, box-shadow linear .2s
}
sup{
	color:red;
	line-height:0;
}
a {
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());/* IE */
	color:#333;
}
a:hover{
	color:#669900;
	text-decoration:underline;
}
input:focus,a:focus{outline:none;} /* FF */
a{outline:none;} /* FF、Chrome */
/* reset */

/*图片加载失败*/
img.err-img,img.load-img{
	background:url(/static/images/error_logo.gif) no-repeat 50% 50%;
	background-color:#FFF;
}
.logo img.load-img{
	background:none;
	background-color:none;
}
/*图片加载失败*/

/* sprite */
.miniNav a.forIndex, .miniNav a.fastLink,.search-panel .searchBtn button,.search .phoneNum,.search-panel .searchSelected,.more,.datepicker,.filter .filterBtn i,.quz,.quz .quzArrow,.star,.fav i,.loginCont .close,.plus,.minus,.attr .selected a .icon{
	background:url(/static/images/sprite_global.png) no-repeat;
}
.miniNav a.fastLink,.search-panel .searchSelected,.filter li a i,.quz,.quz .quzArrow,.loginCont .close{
	_background:url(/static/images/sprite_global_ie6.png) no-repeat;
}
/* sprite */

/*通用样式*/
.layout:after{
	clear:both;
	content:'\20';
	height:0;
	display:block;
}
.layout{
	margin:0 auto;
	*display: inline-block;
}
.center{
	width:980px;
}
.static{
	width:100%;
	height:100%;
	position:relative;
	display:block;
}
.smallBtn{
	height:25px;
	min-width:45px;
	display:inline-block;
	background-color:#F99728;
	border:none;
	color:#FFF;
	cursor:pointer;
	text-align:center;
	border-radius:3px;
	padding:0 5px;
}
a.smallBtn{
	line-height:25px;
}
.smallBtn:hover{
	color:#FFF;
	text-decoration:none;
}
.submit{
	border-radius:3px;
	border:none;
	background-color:#690;
	color:#FFF;
	cursor:pointer;
	font-size:14px;
	text-align:center;
	display:inline-block;
	font-family: "Microsoft Yahei";
}
.submit:hover{
	color:#FFF;
	text-decoration:none;
}
.deal{
	background-color:#999999;
}
.submitBtn{
	text-align:center;
	position:relative;
	margin:10px 0;
}
.submitBtn .mr{
	background-color:#690;
}
.mr{
	margin-right:15px;
}
.price,.line_price,.rk_price{
	color: #FF4343;
	/* font: 13px arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; */
	font-weight: bold;
}
.price dfn,.line_price dfn,.rk_price dfn{
	font-weight:normal;
	font-size:0.7em;
	vertical-align: 0.1em;	
}
.price strong,.line_price strong,.rk_price strong{
	font-family: Arial;
	font-weight:bold;
}
.gray{
	color:#8A8A8A;
}
.line_price{
	font-size:16px;
}
.blockTitle15,.title16,.title18,.blockTitle20{
	font-family: "Microsoft Yahei","Arial", HELVETICA;
}
.blockTitle20{
	font-size:20px;
	color:#690;
	line-height:1.6em;
	border-bottom:2px solid #C6C6C6;
	position:relative;
	*zoom:1;
}
.title16{
	font-size:16px;
	line-height:20px;
	color:#690;
	padding-bottom:5px;
}
.title18{
	font-size:18px;
	line-height:22px;
	padding-bottom:10px;
}
.title24{
	font-size:24px;
	line-height:26px;
	padding-bottom:5px;
}
.blockTitle20 span{
	position:absolute;
	width:80px;
	height:2px;
	bottom:-2px;
	left:0;
	display:block;
	background-color:#690;
	overflow:hidden;
}
.blockTitle20 em{
	font-size:16px;
	font-weight:normal;
	color:#ACACAC;
	margin-left:10px;
}
.blockTitle15 {
	border-bottom:2px solid #C6C6C6;
	font-size:15px;
	color:#690;
	margin-bottom:8px;
	line-height:1.4em;
	position:relative;
	*zoom:1;
}
.blockTitle15 span {
	width:80px;
	height:2px;
	display:block;
	background-color:#690;
	position:absolute;
	left:0;
	bottom:-2px;
	_bottom:-3px;
	_overflow:hidden;
}
input.text{
	padding:3px;
	line-height:14px;
	border-radius:3px;
	font-family: Verdana,Tahoma,Arial;
}
.text:hover,.page-num:hover,.textarea:hover,.number:hover{
	border-color:#d0d0d0;
	border-top-color:#acacac;
	-webkit-box-shadow:inset 0 1px #f5f5f5;
	-moz-box-shadow:inset 0 1px #f5f5f5;
	box-shadow:inset 0 1px #f5f5f5
}
.text:focus,.page-num:focus,.textarea:focus,.number:focus{
	border-color:#690;
	outline:0;
	-webkit-box-shadow:0 0 8px rgba(102, 153, 0, .6);
	-moz-box-shadow:0 0 8px rgba(102, 153, 0, .6);
	box-shadow:0 0 8px rgba(102, 153, 0, .6);
}
.radio,.checkbox{
	margin: -4px 8px 0 0;
	margin: 0 0px 0 0 \9;
	vertical-align: middle;
	border:none;
}
.disabled{
	background-color:#F9F9F9;
	color:#999;
	cursor:default;
}
.disabled:hover{
	color:#999;
	text-decoration:none;
}
.radio,.radio.disabled{
	background:none;
}
.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:9999999;
}
.content .fixed{
	left:auto;
	top:35px;
}
.static .fixed{
	z-index:99;
}
.fixedBot{
	position:absolute;
	_position:static;
	z-index:999999;
}
.more{
	display:block;
	width:13px;
	height:13px;
	background-position:-75px -352px;
	overflow:hidden;
	text-indent:-9999px;
	float:right;
}
.more:hover{
	background-position:-75px -375px;
}
.clickMore{
	clear:both;
}
.clickMore a{
	float:right;
	height:20px;
	line-height:20px;
	padding:0 10px;
	background-color:#AAAAAA;
	color:#FFF;
	position:relative;
	display:inline-block;
}
.clickMore a:hover{
	background-color:#F99728;
	color:#FFF;
	text-decoration:none;
}
.clickMore a:hover i{
	background-color:#B56E1D;
}
.clickMore i{
	font-family:Vernada;
	background-color:#666;
	position:absolute;
	left:-20px;
	top:0px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:14px;
}
.loading{
	width:150px;
	height:32px;
	text-align:center;
	margin:15px auto;
}
.loading span{
	line-height:32px;
	margin:0 10px;
}
.buffer{
	text-align:center;
	padding:15px 0;
}
.red{
	color:#FF4343;
}
.lt,.cont{
	display: inline;
	float:left;
	white-space: normal;
}
.number{
	width:45px;
	margin-right:5px;
}
.selectInput{
	width:180px;
	margin-right:5px;
}
.clear{
	clear:both;
}
.none_5{
	height:5px;
	clear:both;
}
.none_10{
	height:10px;
	clear:both;
}
.none_15{
	height:15px;
	clear:both;
}
.none_30{
	height:30px;
	clear:both;
}
/*通用样式*/

/* 标题 */
.summary{
	font-weight: normal;
	font-size: 20px;
	font-family: "Microsoft Yahei"Verdana;
	color: #666;
	line-height: 1.4em;
	margin-bottom:5px;
}
.summary .bold{
	font-weight:bold;
	color:#F99728;
	margin-right:10px;
}
.summary a{
	width:60px;
	margin:0 15px;
	font-size:14px;
}
.summary span{
	margin-right:30px;
}
/* 标题 */

/*信息表单input样式*/
.input01,.input02,.input03{
	line-height:25px;
	min-height:25px;
	float:left;
	margin-right:15px;
	white-space:nowrap;
}
.input02{
	width:255px;
}
.input01 label,.input02 label{
	width:100px;
	float: left;
	display: inline-block;
	line-height:25px;
	font-size:12px;
}
.datepicker{
	width:95px;
	background-position:0 -421px;
}
/*信息表单input样式*/

/* 迷你导航 */
.staticWarp{
	height:29px;
}
.mininavWrap {
	height:29px;
	background-color:#EEE;
	width:100%;
	border-bottom:1px solid #CCC;
}
.mininavWrap .miniNav {
	width:980px;
	height:29px;
	font:12px/18px "Microsoft Yahei", "Arial", HELVETICA;
	position:relative;
	z-index:9999;
}
.miniNav .navWrap{
	height:29px;
}
.miniNav .listWrap{
	display:inline;
}
.miniNav .listWrap .submitBtn .quz{
	position:absolute;
	top:4px;
}
.miniNav .mininavLeft {
	float:left;
	height:29px;
}
.miniNav .mininavRight {
	float:right;
	height:29px;
	display:inline;
}
.miniNav .mininavRight .navWrap{
	text-align:right;
}
.miniNav .item {
	color:#666;
	margin:0px;
	position:relative;
	height:29px;
	display:block;
	*zoom:1;
	float:left;
	line-height:29px;
	padding:0 15px;
	cursor:pointer;
}
.miniNav .item span{
	background-color:#ff4343;
	padding:0 2px;
	font-size:12px;
	color:#FFF;
	margin:0 3px;
}
.miniNav a.downList{
	padding:0 25px 0 15px;
}
.miniNav a.hover,.miniNav .item:hover{
	/* background-color:#690; */
	color:#690;
}
.miniNav a.forIndex {
	padding-left:22px;
	background-position:0 0;
}
.miniNav a.forIndex:hover{
	/*background-position:0 -93px;*/
}
.miniNav a.fastLink {
	padding-left:15px;
	background-position:0 -47px;
	padding:0 25px;
	*zoom:1;
}
.miniNav a.list_0_listHover{
	background-position:0 -139px;
}
.miniNav a b {
	position: absolute;
	right: 13px;
	top: 13px;
	width: 0;
	height: 0;
	border-width: 4px 4px;
	border-style: solid;
	border-color: #CCC #333 #333;
	font-size: 0;
	line-height: 0;
	-moz-transition: -moz-transform .2s ease-in;
	-o-transition: -o-transform .2s ease-in;
	transition: transform .2s ease-in;
}
.miniNav a.hover b{
	border-color:#FFF #690 #690 #690;
	-moz-transform:rotate(180deg);
	-moz-transform-origin:50% 30%;
	-webkit-transform:rotate(180deg);
	-webkit-transform-origin:50% 30%;
	-o-transform:rotate(180deg);
	-o-transform-origin:50% 30%;
	transform:rotate(180deg);
	transform-origin:50% 30%;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	top:13px\9;
}

/* 下拉菜单样式 */
.miniNav .list{
	position:absolute;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#FFF;
	*zoom:1;
	display:none;
	padding:10px;
	font: 12px/1.5 tahoma,arial;
}
.miniNav .list .listBlock{
	margin-bottom:18px;
}
.listContent{
	width:100%;
	text-align:center;
	vertical-align:middle;
}
.listContent img{
	vertical-align:middle;
	margin:0 5px;
}
.alignTop td{
	vertical-align:top;
}
.listContent td p{
	line-height:1.6em;
	margin-bottom:5px;
}
.listContent .last{
	border:0;
}
.listContent .even{
	background-color:#F4F4F4;
}
.listContent tbody tr .noRecords{
	height:60px;
	vertical-align:middle;
	border:0;
	background-color:#F4F4F4;
}
.listContent td{
	padding:15px 8px;
	text-decoration:none;
}
.listContent .lf{
	text-align:left;
}
.listContent tr {
	border-bottom:1px solid #EEE;
}
.listContent tr:first-child{
	border-bottom:0;
}
.listContent tr th{
	background-color:#7DA72B;
	font-size:13px;
	padding:3px 0;
	color:#FFF;
	font-weight:normal;
	border-right:1px solid #FFF;
}
.listContent tr th.hover{
	background-color:#AAAAAA;
	color:#FFF;
}
.listContent tr .title{
	text-align:left;
}
.listContent tr .comment{
	text-align:left;
}
.listContent tr .price{
	margin:0 3px;
	font-size:14px;
}
.listContent tr .price strong{
	font-weight:normal;
}
.listContent a{
	background:none;
}
.listContent a:hover{
	text-decoration:underline;
}
.listContent .disabled:hover{
	text-decoration:none;
}
.listContent .soldOut td{
	color:#CCCCCC;
}
.listContent .smallBtn{
	background-color:#F99728;
}
.listContent .calendarTr{
	margin-top:-1px;
}
.listContent .calendarTd{
	padding:15px 0;
}
.listContent .disabled{
	background:#F4F4F4;
}
/* 下拉菜单样式 */

/* 我的订单 */
.miniNav .orderCheack{
	top:30px;
	width:600px;
}
/* 我的订单 */

/* 我的收藏 */
.miniNav .collection{
	top:30px;
	width:600px;
}
.collection .blockTitle15{
	border:0;
	margin:0;
}
/* 我的收藏 */

/* 出团信息 */
.miniNav .infoCheck{
	top:30px;
	width:280px;
	text-align:left;
}
.miniNav .infoCheck td{
	border:0;
}
.miniNav .infoCheck .input{
	width:240px;
}
.miniNav .infoCheck .even{
	background-color:#FFF;
}
.miniNav .listContent td{
	padding:10px 8px;
}
/* 出团信息 */

/* 快速链接 */
.miniNav .fastLinkList{
	left:84px;
	top:30px;
	width:98px;
	padding:0;
}
.miniNav .fastLinkList li{
	width:98px;
	height:30px;
	line-height:30px;
	text-align:center;
}
.miniNav .fastLinkList li a{
	width:98px;
	display:block;
	padding:0;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
}
.miniNav .fastLinkList li a:hover{
	background-color:#406500;
	color:#FFF;
}
/* 快速链接 */

/* 广告 */
.banner{
	width:980px;
}
/* 广告 */

/* 头部 */
.layoutHead{
	width:980px;
	margin:0 auto;
	padding-top:10px;
}
.logo{
	width:250px;
	height:70px;
	float:left;
	display:inline;
}
/* 头部 */

/* 搜索框 */
.search{
	width:730px;
	height:70px;
	float:left;
	display:inline;
	font:12px "SimSun", "Arial", HELVETICA;
	position:relative;
	z-index:998;
}
.search-hots{
	font:12px/1.5 arial;
	padding:5px 0;
	width:443px;
}
.search-hots a{
	margin-right:6px;
}
.search-hots span{
	color:#333;
}
.search a{
	color:#666;
	margin-right:6px;
}
.search a:hover{
	color:#690;
	text-decoration:underline;
}
.search-panel-fields {
	width: 400px;
	height: 34px;
	float: left;
	position: relative;
	*zoom: 1;
	background: #BBB;
	z-index:9998;
}
.search-panel-fields-selected{
	background: #690;
}
.search-panel-fields .searchListContent{
	position: absolute;
	left:0px;
	top: 3px;
}
.search-panel-fields .searchListContent input {
	font-size: 14px;
	width: 312px;
	height: 18px;
	line-height: 18px;
	padding: 5px;
	background: #fff;
	vertical-align: middle;
	border: 0;
	outline: medium none;
	font-weight:bold;
	color:#333;
	position:absolute;
	left:75px;
	top:0px;
}
.search-panel .searchSelectedContent{
	position:absolute;
	left:3px;
	top:3px;
}
.search-panel-fields .searchList{
	width:384px;
	position:absolute;
	background-color:#FFF;
	border-left:3px solid #690;
	border-right:3px solid #690;
	border-bottom:3px solid #690;
	padding:5px;
	left:0px;
	top:27px;
	display:none;
}
.search-panel-fields .searchList h2{
	font-size:14px;
	color:#690;
	padding:3px 0;
	border-bottom:2px solid #CCC;
}
.search-panel-fields .searchList .list,.search-panel-fields .searchList .other{
	padding:10px 3px;
	margin-bottom:5px;
}
.search-panel-fields .searchList .list li{
	position:relative;
	margin-bottom:15px;
}
.search-panel-fields .searchList a{
	line-height:1.5em;
}
.search-panel-fields .searchList .list a{
	width:70%;
	display:block;
}
.search-panel-fields .searchList .list b{
	color:#FF4343;
	position:absolute;
	right:0;
	top:0;
}
.search-panel-fields .searchList .other a{
	margin:5px;
}
.search-panel .searchSelected{
	color: #666;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	line-height: 30px;
	padding: 0 11px;
	width: 51px;
	background-color:#FFF;
	background-position:0 -188px;
	overflow:hidden;
}
.search-panel .searchSelectedUp{
	background-position:0 -229px;
}
.search-panel .searchTab{
	display: none;
	position: absolute;
	/* top: 31px; */
	left: -3px;
	width: 70px;
	border: 3px solid #690;
	border-top: 0;
	background: #fff;
	z-index: 20;
}
.search-panel .searchTab li {
	width: 70px;
	height: 28px;
	line-height: 28px;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	cursor: pointer;
}
.search-panel .searchTab li.selected {
	background: #F4FFE0;
	color: #690;
	padding:0;
}
.search-panel-fields label {
	position: absolute;
	left: 86px;
	top: 10px;
	z-index: 1;
	color: #bbb;
}
.search-panel-fields .preloader{
	position: absolute;
	width:18px;
	height:18px;
	background:url(/static/images/preloader_18x18.gif);
	top:8px;
	right:8px;
	z-index:9999;
}
.search-panel .searchBtn{
	float: left;
}
.search-panel .searchBtn button{
	background-position: 0px -269px;
	border: 0;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 16px;
	height: 34px;
	text-indent: -9999px;
	width: 94px;
}
.search .phoneNum{
	width:150px;
	float:right;
	font-size:14px;
	background-position:0 -607px ;
	padding-left:60px;
	height:55px;
	overflow:hidden;
	right:0;
	bottom:14px;
	position:absolute;
}
.search p{
	font-family:'microsoft yahei';
	font-size:20px;
}
.search .num{
	color:#F99728;
}
.search .autoComplete{
	min-height:50px;
	display:none;
}
.search .autoComplete table{
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
	line-height:32px;
}
.search .autoComplete td span{
	margin:0 10px;
}
.search .autoComplete .listContent td{
	padding: 3px;
}
/* 搜索框 */

/* 导航栏*/
.nav{
	width:980px;
	background-color:#690;
	margin:0 auto;
}
.nav ul{
	width:980px;
}
.nav li{
	float:left;
	display:inline;
	*zoom:1;
}
.nav li a{
	color:#FFF;
	height:37px;
	line-height:37px;
	display:block;
	font-size:16px;
	padding:0 11px;
	float:left;
	font-weight:bold;
	*zoom:1;
}
.nav li a:hover{
	color:#FFF;
}
.nav li a.curr{
	color:#FFF;
	background-color:#406500;
}
.nav .clickMenu{
	position:relative;
	z-index:99998;
	color:#690;
}
.nav li .menu{
	position:absolute;
	background-color:#FFF;
	border:1px solid #690;
	top:37px;
	left:0;
	visibility:hidden;
	height:37px;
}
.nav li .menu .title{
	position:absolute;
	top:-37px;
	left:0;
	background-color:#FFF;
	width:79px;
	height:37px;
	text-align:center;
	line-height:37px;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
}
.nav li .menu a{
	color:#690;
	font-size:12px;
	font-weight:normal;
}
.nav li .menu a:hover{
	color:#690;
}
.nav li .menu .alink{
	height:37px;
	overflow:hidden;
}
/* 导航栏*/

/*正文内容*/
.layoutBody{
	width:980px;
	margin-top:5px;
}
/*正文内容*/

/*sprite*/
.footerAd .service .hotline,.footerAd .service .content a{
	background:url(/static/images/footad.png) no-repeat;
}
/*sprite*/

/*页脚广告位*/
.footerAd .footad{
	margin-top:10px;
}
.footerAd .service{
	margin-top:10px;
}
.footerAd .service .hotline{
	width:378px;
	height:43px;
	background-position:0 0;
	color:#FFF;
	float:left;
}
.footerAd .service .hotline span{
	font-family:'microsoft yahei';
	font-size:16px;
	line-height:43px;
	padding-left:50px;
}
.footerAd .service .hotline font{
	font-size:17px;
}
.footerAd .service .content{
	height:34px;
	border-bottom:2px solid #690;
	position:relative;
	float:left;
	width:602px;
}
.footerAd .service .content span{
	position:absolute;
	bottom:5px;
	left:12px;
	color:#999;
}
.footerAd .service .content a{
	height:20px;
	width:109px;
	line-height:20px;
	position:absolute;
	bottom:5px;
	right:5px;
	color:#FFF;
	background-position:0 -52px;
	text-indent:25px;
}
.footerAd .service .content a:hover{
	color:#FFF;
	background-position:-120px -52px;
}
.friendLink{
	clear:both;
	padding:5px 0;
	position:relative;
}
.friendLink .title{
	color:#666;
	cursor:default;
}
.friendLink .title:hover{
	color:#333;
	text-decoration:none;
}
.friendLink a{
	margin:0 10px 5px 0;
	float:left;
	*display:inline;
	white-space:nowrap;
}
.friendLink a:hover{
	color:#690;
	text-decoration:underline;
}
.friendLink dt{
	float:left;
	width:65px;
}
.friendLink dd{
	float:left;
	width:915px;
}
.friendLink .more{
	margin:0;
}
/*页脚广告位*/

/* sprite */
.footer .copyright a{
	background:url(/static/images/sprite_footer.png);
}
/* sprite */

/*页脚*/
.footer{
	margin-top:15px;
	background-color:#F0F0F0;
	border-top:1px solid #ccc;
	width:100%;
	padding:10px 0 20px 0;
}
.footer .content{
	overflow:hidden;
	border-bottom:1px solid #CCC;
}
.footer h2{
	margin:10px 0;
}
.footer .content ul{
	float:left;
	/* display:inline; */
	width:50%;
}
.footer .content ul li{
	padding:0;
}
/* .footer .content ul:first-child{

} */
.footer ul li{
	margin:8px 0;
}
.footer .column_helper_02{
	margin-right:30px;
}
.footer .column_helper_01,.column_helper_02,.column_helper_03{
	float:left;
	display:inline;
}
.footer .column_helper_01{
	width:130px;
	margin-right:30px;
}
.footer .column_helper_02,.footer .column_helper_02 ul{
	width:180px;
}
.footer .column_helper_03{
	width:610px;
}
.footer .column_helper_03 ul{
	width:33%;
}
.footer .column_helper_03 ul li{
	width:183px;
}
.footer .copyright{
	clear:left;
	height:35px;
	padding:10px 0;
}
.footer .footer-ext{
	height:35px;
	width:370px;
	float:left;
}
.footer .copyright a{
	display:block;
	float:left;
	height:35px;
	text-indent:-9999px;
	margin-right:5px;
}
.footer .copyright .s1{
	width:85px;
}
.footer .copyright .s2{
	width:85px;
	background-position:-90px 0;
}
.footer .copyright .s3{
	width:84px;
	background-position:-178px 0;
}
.footer .copyright .s4{
	width:60px;
	background-position:-266px 0;
}
.footer .footer-copyright{
	float:left;
	color:#999;
}
.footer .footer-copyright p{
	font: 12px/1.5 tahoma,arial,宋体b8b\4f53;
}
.footer .footer-copyright p span{
	margin:0 5px;
	color:#CCC;
}
.footer .link{
	width:980px;
	padding:10px 0;
	border-top:1px solid #FFF;
}
.footer .link ul{
	width:600px;
	margin:0 auto;
}
.footer .link dt{
	float:left;
	color:#8A8A8A;
	width:48px;
	display:inline;
}
.footer .link dd{
	float:left;
	display:inline;
	width:552px;
}
.footer .link dd a{
	padding: 0 3px;
	display:inline-block;
	margin-bottom:5px;
}
/*页脚*/

/* 通用样式 */
.content{width:980px;margin-top:5px;}
.lfColumn{width:230px;float:left;display:inline-block;}
.rgColumn{width:730px;float:left;margin-left:20px;overflow:hidden;display:inline-block;}
/* 通用样式 */

/* +号焦点图片 */
.promPic{
	position:relative;
	overflow:hidden;
	cursor:pointer;
	*zoom:1;
}
.promPic i{
	position:absolute;
	bottom:-20px;
	right:-20px;
	background-color:#FF4343;
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center;
	color:#FFF;
	font-family:Verdana;
	z-index:9997;
}
.plusPic{
	overflow:hidden;
	position:relative;
}
.plusPic:hover{
	text-decoration:none;
}
/* +号焦点图片 */

/*面包屑导航*/
.breadcrumb{
	margin:10px 0;
}
/*面包屑导航*/

/*线路板块*/
.block{
	margin-bottom:15px;
}
.block .title{
	font-size:20px;
	font-family: "Microsoft Yahei";
	color:#690;
	line-height:1.6em;
	border-bottom:2px solid #C6C6C6;
	position:relative;
	*zoom:1;
}
.block .title span{
	position:absolute;
	width:80px;
	height:2px;
	bottom:-2px;
	left:0;
	display:block;
	background-color:#690;
	overflow:hidden;
}
.block .plist{
	position:relative;
}
.block .plist .tab_arrow{
	width: 80px;
	position: absolute;
	z-index: 1;
	top: -2px;
	left: 100px;
	height: 7px;
	border-top: 2px solid #F99728;
	overflow: hidden;
	text-align: center;
}
.block .plist .tab_arrow b{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid dashed dashed dashed;
	border-width: 7px;
	border-color: #F99728 transparent transparent transparent;
	border-top-color:#F99728;
	overflow: hidden;
	*zoom: 1;
	font-size: 0;
}
.block .plist .p_blk,.block .plist .p_link{
	*zoom: 1;
}
.block .p_blk .p_blk_title,.block .p_link .p_blk_title{
	width: 80px;
	position: absolute;
	top: -30px;
	text-align: center;
	height: 12px;
	line-height: 12px;
	padding: 7px 0;
	color:#5a5a5a;
	font-weight:bold;
}
.block .p_blk .p_blk_title h3,.block .p_link .p_blk_title a{
	font-size:14px;
	font-family: "Microsoft Yahei";
	cursor:pointer;
}
.block .hover .p_blk_title h3{
	color:#F99728;
}
.block .blk1 .p_blk_title{
	left:100px;
}
.block .blk2 .p_blk_title{
	left:180px;
}
.block .blk3 .p_blk_title{
	left:260px;
}
.block .blk4 .p_blk_title{
	left:340px;
}
.block .blk5 .p_blk_title{
	left:420px;
}
.block .tab_content{
	*zoom:1;
	display:none;
	padding:15px;
}
.block .hover .tab_content{
	display:block;
	position:relative;
}
.block .leftCont{
	float:left;
	_display:inline;
	width:223px;
	overflow:hidden;
}
.block .leftCont p{
	padding:3px 5px;
	background-color:rgba(0, 0, 0, 0.6);
	background:url(/static/images/alpha_black.png) \9;
	background-color:none \9;
	color:#FFF;
	position:absolute;
	/* height:30px; */
	width: 213px;
	bottom:0;
	left:0;
	*zoom:1;
}
.block .leftCont .promPic{
	position:relative;
	display:block;
	width:223px;
	/* height:221px; */
}
.block .leftCont .promPic img{
	/* width:223px;
	height:221px; */
}
.block .promPic i{
	width:21px;
	height:21px;
	line-height:21px;
	text-align:center;
	background-color:#690;
}
.block .leftCont .promPic:hover,.block .leftCont .promPic:hover p{
	text-decoration:none;
	color:#F99728;
}
.block .plusPic{
	display:block;
	margin-bottom:10px;
	*zoom:1;
}
.block .rightCont{
	float:left;
	_display:inline;
}
.block .rightCont .lineContent{
	width:445px;
	*zoom:1;
}
.block .rightCont .lineContent dt a{
	width:380px;
}
/*线路板块*/

/*线路内容*/
.lineContent {
	float:left;
	padding:0 15px;
}
.tabContent .lineContent {
	width:423px;
	overflow:hidden;
}
.lineContent dt {
	position:relative;
	margin-bottom:13px;
}
.lineContent .last{
	margin-bottom:0;
}
.lineContent dt a {
	font-size:13px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
}
.lineContent dt a span {
	color:#FF4343;
}
.lineContent dt .line_price {
	position:absolute;
	right:0;
	top:0;
	font-size:13px;
}
/*线路内容*/

/* 弹出窗口 */
.alertBox{
	color:#666;
	margin:0;
	_zoom:1;
	position:fixed;
	background-color:#FFF;
	overflow:hidden;
	_POSITION:absolute;
	z-index:10000000;
	display:none;
}
.alertBox a:focus{
	outline:none;
}
.alertBox p{
	min-height:25px;
	line-height:25px;
	vertical-align:middle;
}
.alertBox .head{
	font-size:14px;
	height:15px;
	padding:10px;
	position:relative;
	color:#690;
	font-family:"SimSun";
	line-height:1.4em;
}
.alertBox .head h2{
	font-size:14px;
	line-height:
	inherit;
}
.alertBox .head a{
	position:absolute;
	right:10px;
	top:10px;
}
.alertBox .head span{
	width:120px;
}
.alertBox .textField{
	padding:15px;
	line-height:1.8em;
}
.alertBox .text{
	padding:3px;
	border-radius:3px;
}
.alertBox strong{
	color:#ff5400;
}
.alertBox .text span a{
	color:#690;
	text-decoration:
	underline;
}
.alertBox .text span a:hover{
	color:#FF5400;
}
.alertBox .article{
	text-indent:2em;
}
.alertBox .article a{
	margin:0 3px;
}
.alertBox .cent{
	text-align:center;
	height:25px;
	margin:10px auto;
	margin-bottom:0;
}
.alertBox .btn{
	margin-right:15px;
	padding:0 10px;
	height:25px;
	line-height:25px;
	display:block;
	color:#333;
	position:relative;
	outline:none;
	hide-focus: expression(this.hideFocus=true);
	text-align:center;
}
.alertBox .last{
	margin-right:0;
}
.alertBox .info a{
	width:auto;
	background-color:#680;
	padding:0 10px;
}
/* 弹出窗口 */

/* 悬浮窗口 */
.hoverBox{
	position:absolute;
	background-color:#FFF;
	margin:0;
	display:none;
}
.hoverBox.hover{
	display:block;
	z-index:9999999;
}
/* 悬浮窗口 */

/* 属性栏 */
.attr {
	border:1px solid #CCC;
	border-top:4px solid #690;
}
.attr li {
	padding:15px;
	border-bottom:1px dashed #CCC;
	line-height:1.4em;
	vertical-align:middle;
}
.attr .lt{
	float:left;
	display:inline;
	width:140px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.attr .rc{
	float:left;
	display:inline;
	width:558px;
}
.attr .rc a{
	display:block;
	float:left;
	display:inline;
/* 	height:20px;
	line-height:20px; */
	padding:3px 5px;
}
.attr li span{
	margin:0 5px;
}
.attr li a{
	margin:0 5px;
	white-space: nowrap;
}
.attr li a.hover{
	background-color:#690;
	color:#FFF;
	display:inline;
	padding:3px 5px;
}
.attr li a.hover:hover{
	color:#FFF;
}
.attr .last,.attr .bot {
	border:0;
}
.attr .bot{
	background-color:#E8E8E8;
}
.attr .bot .lt{
	line-height:26px;
}
.attr .article ol{
	list-style-type:decimal;
	margin-left:20px;
}
.attr .article ol li{
	padding:5px;
	border:0;
	line-height:1.4em;
}
.attr select{
	width:100px;
	margin-right:15px;
	padding:0;
}
.attr .selectLt{
	line-height:23px;
}
.attr .selected{
	padding-bottom:10px;
}
.attr .selected .all .icon{
	display:none;
}
.attr .selected a{
	border:1px dotted #690;
	padding:2px 4px;
	color:#690;
	border-radius:3px;
	height:15px;
	margin-bottom:5px;	
}
.attr .selected a:hover{
	border:1px solid #690;
	text-decoration:none;
}
.attr .selected a span{
	display:inline-block;
	margin:0;
}
.attr .selected a .icon{
	display:inline-block;
	position:absolut;
	width:15px;
	height:15px;
	top:-1px;
	overflow: hidden;
	background-position: -62px -529px;
	margin-right:0;
	vertical-align: middle;
}
/* 属性栏 */

/* 左右控制 */
.step {
	position: absolute;
	padding-left: 1px;
	right:0;
	top:0;
}
.step .prev,.step .next {
	float: left;
	width: 14px;
	height: 12px;
	border: 1px solid #d8d8d8;
	margin-left: -1px;
	outline:none;
	background-color:#FFF;
	position:relative;
}
.step .arrow-rthin {
	right: 2px;
	top: 3px;
}
.step .arrow-lthin {
	left: 2px;
	top: 3px;
}
.step s {
	cursor: pointer;
}
.step a:hover .arrow-rthin {
	border-left-color: #f60;
}
.step a:hover .arrow-lthin {
	border-right-color: #f60;
}
/* 左右控制 */

/* 公告按钮 */
.arrow, .arrow s {
	position: absolute;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	border: dashed 4px;
}
.arrow-rthin, .arrow-rthin s {
	border-color: transparent transparent transparent #666;
	border-left-style: solid;
}
.arrow-rthin s {
	border-left-color: #FAFAFA;
	left: -6px;
	top: -4px;
}
.arrow-lthin, .arrow-lthin s {
	border-color: transparent #666 transparent transparent;
	border-right-style: solid;
}
.arrow-lthin s {
	border-right-color: #fff;
	right: -6px;
	top: -4px;
}
/* 公告按钮 */

/*页码*/
.pagination {
	height:25px;
	line-height:25px;
	-webkit-text-size-adjust:none;
	padding:15px 0;
}
.pagination .pagination-info {
	float:left;
	color:#666
}
.pagination .pagination-info span {
	float:left
}
.pagination .pagination-info .dropdown {
	float:left;
	margin:0 5px;
	height:23px;
	line-height:23px
}
.pagination .pagination-info .dropdown .dropdown-list {
	top:24px
}
.pagination .b {
	font-weight:bold;
	margin:0 3px
}
.pagination .mr {
	margin-left:12px
}
.pagination .pagination-pages {
	float:right
}
.pagination .pagination-page {
	float:left
}
.pagination .pagination-page a.page {
	float:left;
	margin-right:3px;
	padding:1px 9px;
	color:#999;
	height:23px;
	line-height:23px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	text-decoration:none
}
.pagination .pagination-page a.page:hover {
	padding:0 8px;
	border:1px solid #eee;
	background-color:#eee;
	color:#666;
	text-decoration:none
}
.pagination .pagination-page .page-simply {
	float:left;
	margin:0 10px
}
.pagination .pagination-page .page-cur {
	padding:0 8px;
	border:1px solid #690;
	background-color:#690;
	color:#fff;
	margin-right:3px;
	float:left;
	height:23px;
	line-height:23px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px
}
.pagination .pagination-page .page-split {
	padding:1px 6px;
	float:left;
	height:23px;
	line-height:23px
}
.pagination .pagination-page .page-prev, .pagination .pagination-page .page-next {
	float:left;
	margin-right:3px;
	padding:1px 6px;
	color:#999;
	height:23px;
	line-height:23px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	text-decoration:none
}
.pagination .pagination-page .page-prev i, .pagination .pagination-page .page-next i {
	font-size:12px;
	float:left;
	margin:0 3px;
}
.pagination .pagination-page .page-prev .iconfont, .pagination .pagination-page .page-next .iconfont {
	cursor:pointer
}
.pagination .pagination-page .page-prev span, .pagination .pagination-page .page-next span {
	float:left
}
.pagination .pagination-page .page-prev:hover, .pagination .pagination-page .page-next:hover {
	padding:0 5px;
	color:#ff8400;
	border:1px solid #eee;
	background-color:#eee;
	color:#666;
	text-decoration:none
}
.pagination .pagination-count {
	float:left;
	margin-left:7px
}
.pagination .pagination-form {
	float:left;
	margin-left:35px
}
.pagination .pagination-form input {
	margin-bottom:0;
	width:20px;
	margin:0 5px;
	display:inline-block;
	height:18px;
	padding:2px 8px 3px;
	line-height:18px;
}
.pagination .pagination-form .btn {
	margin-left:5px;
	cursor:pointer;
	text-decoration:none
}
.pagination .pagination-form .btn:hover {
	text-decoration:none
}
/*页码*/

/*排行榜*/
.ranking {
	margin-bottom:30px;
}
.ranking li {
	height:40px;
	padding:0 5px;
	border-bottom:1px dashed #CCC;
	/* line-height:40px; */
	margin:0;
	overflow:hidden;
	*vertical-align:text-top;
	position:relative;
	*zoom:1;
}
.ranking li.hover {
	height:115px;
	_padding-top:12px;
 *line-height:0px;
}
.ranking li h2 {
	height:16px;
	padding:12px 0;
}
.ranking li.hover h2 {
	height:auto;
 *height:0px;
	padding:12px 0;
	_padding:0;
}
.ranking li h2 a {
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:160px;
 *width:155px;
	display:block;
	float:left;
	line-height:16px;
	font-weight:normal;
}
.ranking li a{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}
.ranking li h2 span {
	padding:0px 2px;
	color:#FF4343;
	font-family:Verdana;
	float:left;
	line-height:16px;
	margin-right:3px;
}
.ranking li h2 .num {
	background-color:#FF4343;
	color:#FFF;
}
.ranking li h2 .price,.ranking li h2 .rk_price {
	float:left;
	font-size:13px;
	position:absolute;
	top:12px;
	right:6px;
}
.ranking li img {
	width:218px;
	height:103px;
	margin:10px 0 15px 0;
	_margin:5px 0 5px 0;
	display:none;
}
.ranking li.hover img {
	display:block;
}
.ranking .item {
	padding:15px 10px;
	border-bottom:1px solid #E7E7E7;
}
.ranking .item h3 {
	font-size:14px;
	color:#666;
	margin-bottom:10px;
}
.ranking .item dl a {
	width:70px;
	text-align:center;
	display:block;
	float:left;
}
.ranking .item dl p {
	margin:14px 0;
	height:14px;
	overflow:hidden;
}
.ranking .blockTitle15{
	margin-bottom:0;
}
.ranking .blockTitle15 a{
	position: absolute;
	font-weight: normal;
	font-size: 12px;
	top: 0;
	right: 0;
}
/*排行榜*/

/* 错误页面 */
.error{
	width:auto;
	padding:30px;
	border:1px solid #CCC;
	margin-bottom:30px;
}
.error .lfColumn{
	width:250px;
}
.error .rgColumn{
	width:648px;
}
.error .rgColumn .error .rgColumn{
	width:390px;
}
.error h2{
	font-family:'microsoft yahei';
	font-size:20px;
	color:#F99728;
	margin-bottom:25px;
}
.error ol{
	margin:10px 0;
}
.error p,.error li{
	font-size:14px;
	line-height:1.8em;
}
.error li{
	list-style-type:decimal;
	margin-left:25px;
}
.error a{
	margin:0 3px;
}
/* 错误页面 */

/* 最新推荐 */
.searchBottom{
	background-color:#F4F4F4;
	border:1px solid #CCC;
	overflow:hidden;
	margin-top:15px;
}
.searchBottom .blockTitle20{
	margin:3px 15px;
}
.searchBottom .blockTitle20 span{
	width:100px;
}
.searchBottom .tab_content{
	display:block;
	padding:15px;
}
.searchBottom .promPic{
	width:223px;
}
.searchBottom .topCont .plusPic {
	float:left;
	display:inline;
	margin:0;
	margin-right:14px;
	_margin-right:8px;
}
.searchBottom .topCont .last{
	margin:0;
}
.searchBottom .topCont {
	height:160px;
	overflow:hidden;
}
.searchBottom .topCont .plusPic p {
	padding:3px;
	background-color:#000;
	color:#FFF;
}
.searchBottom .topCont .plusPic:hover p {
	color:#F99728;
}
.searchBottom  .lineContent {
	width:319px;
	float:left;
	display:inline-block;
	padding:0 15px;
}
.searchBottom  .lineContent dt{
	width:315px;
}
.searchBottom  .lineContent dt a {
	width:265px;
}
.searchBottom .ranking a{
	width:180px;
	_width:175px;
}
/* 最新推荐 */

/* 温馨提示 */
ul.tips {
	margin: 10px 0; 
	background: #FFFFBF;
	border: 1px solid #FFCA80;
	padding: 5px;
	position: relative;
}
ul.tips li{
	list-style:none;
	margin-left:0;
	line-height:1.4em;
	margin-bottom:8px;
	color:#666;
}
ul.tips .last{
	margin-bottom:0px;
}
ul.tips a {
	color:#1863B4;
}
.normal-tips{
	color:#999999;
}
.normal-tips h2{
	font-weight:normal;
	margin-bottom:5px;
}
.normal-tips li{
	line-height:1.6em;
	list-style-type:decimal;
	margin-left:25px;
}
/* 温馨提示 */

/* 弹出登录框 */
.loginCont{
	position:fixed;
	*POSITION:absolute;
	z-index:10000000;
	display:none;
}
.login_pannel_frame{
	width:328px;
	height:323px;
}
.loginCont .close{
	width:16px;
	height:16px;
	position:absolute;
	right:5px;
	top:5px;
	background-position:-77px -494px;
}
/* 弹出登录框 */

/* 左侧方格导航 */
.navList ul {
	margin:0 auto;
}
.navList li {
	float:left;
	margin:0 1px 1px 0;
	cursor:pointer;
}
.navList .static {
	height:1px;
}
.navList li a {
	line-height:1.2em;
	background-color:#FFF;
	border:1px solid #690;
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
	color:#690;
	font-family:'microsoft yahei';
	cursor:pointer;
 *zoom:1;
 *position:relative;
}
.navList li a:hover {
	background-color:#690;
	color:#FFF;
 -webkit-animation: changeColor .3s;
 -moz-animation: changeColor .3s;
}
.navList li a span {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
 *position:absolute;
 *top:50%;
}
.navList li a span font {
 *position:relative;
 *top:-50%;
}
.navList li a:hover span font{
	color:#FFF;
}
@-webkit-keyframes changeColor {
 0% {
 background-color:#FFF;
 color:#690;
}
 100% {
 background-color:#690;
 color:#FFF;
}
}
@-moz-keyframes changeColor {
 0% {
 background-color:#FFF;
 color:#690;
}
 100% {
 background-color:#690;
 color:#FFF;
}
}
/* 左侧方格导航 */

/* 搜索过滤条 */
.filter{
	height:30px;
	margin-bottom:20px;
	/* background-color:#F4F4F4; */
	border:1px solid #d4d4d4;
	border-top:1px solid #690;
	position:relative;
	*zoom:1;
}
.filter .filterBtn{
	float:left;
	display:inline-block;
	height:30px;
	border:1px solid #d4d4d4;
	border-top:0;
	padding:0 20px;
	line-height:30px;
	vertical-align:bottom;
	border-bottom:0;
	margin-left:-1px;
}
.filter .filterBtn a{
	line-height:30px;
	display:block;
	color:#666666;
	position:relative;
	_margin-top:8px;
	cursor:pointer;
}
.filter .filterBtn a:hover{
	color:#F99728;
	text-decoration:none;
}
.filter .filterBtn a:hover i{
	background-position:-47px -458px;
}
.filter .filterBtn a:hover i.upside{
	background-position:-47px -448px;
}
.filter .filterBtn i{
	width:10px;
	height:10px;
	background-position:0 -458px;
	display:inline-block;
	margin-top:2px;
	_margin-top:-5px;
	overflow:hidden;
}
.filter .filterBtn i.upside{
	background-position:0 -448px;
}
.filter .hover{
	background: #fff5e8;
	border-color:#f4b39d;
	border-bottom:1px solid #f4b39d;
	position:relative;
}
.filter .hover a{
	color:#F99728;
}
.filter .hover a i{
	background-position:-47px -458px;
}
.filter .hover a i.upside{
	background-position:-47px -448px;
}
.filter li {
	float: left;
	display: inline-block;
	height: 30px;
	border: 1px solid #d4d4d4;
	border-top: 0;
	padding: 0 20px;
	line-height: 30px;
	vertical-align: bottom;
	border-bottom: 0;
	margin-left: -1px;
}
.filter li span{
	float:left;
	font-weight:normal;
}
.filter input,.filter li select{
	float:left;
	margin:4px 3px;
	*margin:4px 1px;
}
.filter li select{

	padding:1px;
}
.filter li .text{
	width:45px;
}
.filter li .datepicker{
	width:95px;
}
.filter li .smallBtn{
	margin-left:5px;
	padding:0 5px;
	width:auto;
	height:22px;
	line-height:22px;
}
.filter li span{
	margin:0 2px;
}
.filter li .tips{
	margin-left:8px;
	color:#FF4343;
}
.filter .first{
	/* border-left:none; */
}
.filter .last{
	border:0;
	margin:0;
}
.filter .last em{
	position:absolute;
	right:50px;
	top:0px;
}
.filter .last .step{
	height:30px;
	display:block;
	top:0px;
	right:10px;
}
.filter .last .step a{
	margin-top:7px;
}
.filter .prev,.filter .next{
	height:14px;
}
.filter .radio{
	margin-top:9px;
}
/* 
/* 搜索过滤条 */

/* 疑问符 */
.quz{
	vertical-align:baseline;
	display:inline-block;
	width:16px;
	height:16px;
	background-position:-63px -448px;
	position:relative;
	z-index:99999;
	cursor:pointer;
	*position:absolute;
}
.quz:hover{
	background-position:-84px -448px;
	text-decoration:none;
}
.quz .quzArrow{
	width:10px;
	height:12px;
	background-position:0 -471px;
	position:absolute;
	left:21px;
	top:0px;
}
.quz .tms{
	position:relative;
	display:none;
	*zoom:1;
	z-index:999;
}
.quz .tips{
	width:300px;
	text-align:left;
	margin:0;
	position:absolute;
	top:-10px;
	left:30px;
}
.quz .tips li{
	margin:0;
	min-height:0;
	line-height:1.4em;
	padding:3px;
}
/* 疑问符 */

/* 日期列表 */
.dateList{
	width:50px;
	*width:40px;
}
.yearList{
	width:60px;
	*width:55px;
}
/* 日期列表 */

/* 产品矩形排列布局 */
.grid_view {
	margin-left:-10px;
}
.grid_view .col {
	float:left;
	width:25%;
}
.grid_view .col .pic {
	position: relative;
	padding: 5px;
	border: 1px solid #E5E5E5;
	font-size: 0;
}
.grid_view .col .pic p {
}
.grid_view .col .pic a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0 none;
}
.grid_view .col .pic a {
	width: 214px;
	height: 174px;
	line-height: 174px;
}
.grid_view .col .summary {
	margin: 5px 0;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	padding:0 5px;
	line-height:1em;
	height:40px;
}
.grid_view .col .summary a {
	word-break: break-all;
	margin:0;
	line-height:1em;
}
.grid_view .col .row {
	height: 22px;
	overflow: hidden;
	padding:0 5px;
}
.grid_view .col .starCont{
	position:absolute;
	bottom:5px;
	left:5px;
	padding:0;
}
.grid_view .inner {
	position:relative;
	*zoom:1;
}
.grid_view .info {
	color:#999;
	cursor:pointer;
}
.grid_view .link {
	border:none;
	position:absolute;
	right:5px;
	bottom:5px;
	font-size:14px;
	color:#FFF;
	height:25px;
	line-height:25px;
	text-align:center;
	width:90px;
}
.grid_view .link:hover {
	text-decoration:none;
	color:#FFF;
}
.grid_view .inner {
	margin:0 auto;
}
.grid_view .promPic {
	border:none;
}
.grid_view .promPic i {
	font-size:13px;
	width:20px;
	height:18px;
	line-height:18px;
}
/* 产品矩形排列布局 */

/* 星星 */
.starCont .star{
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.starCont .full{
	background-position:-20px -471px;
}
.starCont .half{
	background-position:-41px -471px;
}
.starCont .empty{
	background-position:-62px -471px;	
}
/* 星星 */

/*收藏线路*/
.fav{
	display:block;
	height:16px;
	line-height:16px;
	width:100px;
	position:absolute;
	bottom:0px;
	right:0px;
}
.fav i{
	width:16px;
	height:16px;
	background-position:0 -401px;
	display:inline-block;
	float:left;
	margin-right:5px;
}
/*收藏线路*/

/* 热门产品推荐 */
.adsColumn .blockTitle15 span{
	width:100px;
}
.adsColumn li{
	padding: 0 5px;
	border-bottom:1px dashed #CCC;
	padding-bottom:8px;
	*padding-bottom:3px;
	margin-bottom:8px;
	overflow:hidden;
	*vertical-align:text-top;
	*zoom:1;
}
.adsColumn li p{
	margin:10px 0;
}
.adsColumn li .price{
	float:right;
	font-size:14px;
}
/* 热门产品推荐 */

/* 广告板块 */
.adsResult{
	border:1px solid #CCC;
	margin-bottom:15px;
}
.adsResult .last{
	border:0;
	margin:0;
}
.adsResult .blockTitle15{
	padding:3px 5px;
}
.newspaper li h2 a {
	width:220px;
}
/* 广告板块 */

/*旅游攻略*/
.guide {
	margin-bottom:15px;
}
.guide .guide_pic {
	display:block;
	position:relative;
	overflow:hidden;
	width:218px;
	height:103px;
}
.guide .guide_pic:hover {
	text-decoration:none;
}
.guide li h2 {
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:216px;
	_width:216px;
	display:block;
	float:left;
	line-height:16px;
	color:#666;
	font-weight:normal;
}
.guide li.hover h2 {
	display:none;
}
.guide li .guide_pic img {
	_margin:0;
}
.guide li p {
	margin:10px 0;
	_margin:5px 0;
	line-height:1.4em;
	display:none;
}
.guide li.hover p {
	display:block;
}
.guide li.hover p a {
	color:#690;
}
.guide li.hover p a:hover {
	color:#F99728;
}
.guide li .guide_title {
	width:208px;
	position:absolute;
	left:0;
	bottom:0;
	_bottom:-3px;
	padding:3px 5px;
	margin:0;
	color:#FFF;
	background-color:rgba(0, 0, 0, 0.5);
	background:url(/static/images/alpha_black.png) \9;
	*zoom:1;
}
/*旅游攻略*/

/*返回顶部*/
.scorllFix{
	width:54px;
	position:fixed;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-30));/* 修正IE6FixedBug */
	bottom:80px;
	left:50%;
	margin-left:500px;
	height:182px;
}
* html,* html body /* 修正IE6振动bug */{
	background-image:url(about:blank);
	background-attachment:fixed;
}
.scorllFix a{
	width:54px;
	height:54px;
	background:url(/subject/images/puzzle_backToTop.png) no-repeat;
	display:block;
	text-indent:-9999em;
	opacity:.5;
	filter:alpha(opacity=50);
}
.scorllFix a:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
.scorllFix .backToTop{
	background-position:0 -62px;
}
.scorllFix .feedback{
	background-position:0 0;
	margin-bottom:10px;	
}
.scorllFix .onlineService{
	background-position:0 -124px;
	margin-bottom:10px;
	opacity:1;
}
/*返回顶部*/

/*产品信息*/
.pdInfo{
	background-color:#FFF;
	*zoom:1;
}
.pdInfo ul li{
	/* margin-top:15px; */
	margin: 10px 0;	
	line-height:1.4em;
}
.pdInfo .title16{
	background-color:#690;
	color:#FFF;
	height:30px;
	line-height:30px;
	text-indent:15px;
	padding-bottom:0;
}
.pdInfo .content{
	margin:0;
	padding:1px 15px 15px 15px;
	border:2px solid #690;
	width:auto;
	border-top:0px;
}
.pdInfo .listContent{
	margin:15px 0;
}
.pdInfo .listContent p{
	min-height:auto;
	margin:0;
}
.pdInfo .listContent .cont{
	width:50px;
}
.pdInfo .listContent .cont,.pdInfo .listContent .lt{
	height:19px;
	line-height:19px;
}
.pdInfo .listContent .ticket_cont{
	width:105px;
	margin:0 auto;
}
.pdInfo .header{
	border-bottom:1px dashed #CCCCCC;
}
.pdInfo .layout{
	min-height:25px;
	margin:10px 0;
}
.pdInfo .input01{
	margin-right:19px;
}
.pdInfo .input02{
	width:125px;
}
.pdInfo .input03{
	width:286px;
	margin:0;
}
.pdInfo .cont{
	width:207px;
	text-align:left;
}	
.pdInfo b{
	font-weight:bold;
}
.pdInfo .tips{
	margin-bottom:0;
}
.pdInfo .last{
	margin-bottom:0;
}
.pdInfo .total{
	margin-bottom:0;
	text-align:right;
}
.pdInfo .total b{
	font-size:18px;
}
.pdInfo .amount{
	width:140px;
	float:right;
	border-bottom:1px solid #CCCCCC;
	padding-left:35px;
}
.pdInfo .amount li{
	height:15px;
	margin-bottom:5px;
	padding-bottom:5px;
	position:relative;
	*zoom:1;
}
.pdInfo .amount .ff{
	border-bottom:1px dashed #CCCCCC;
}
.pdInfo .amount dt,.pdInfo .amount dd{
	width:70px;
	float:left;
}
.pdInfo .amount dd{
	text-align:right;
}
.pdInfo .amount .number{
	position:absolute;
}
.pdInfo .amount .zcNum{
	top:0px;
	left:-30px;
	*left:-60px;
}
.pdInfo h3{
	margin:15px 0 5px;
}
.pdInfo img{
	margin-right:5px;
	*vertical-align:middle;
}
.pdInfo .tips li{
	margin-top:0;
}
/*产品信息*/

/*符号*/
.plus,.minus{
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	text-indent: -9999px;
}
.plus{
	background-position: -75px -352px;
}
.plus:hover{
	background-position: -75px -375px;
}
.minus{
	background-position: -25px -400px;
}
.minus:hover{
	background-position: -45px -400px;
}
/*符号*/

/*加载中*/
.loadingtips{
	width:100px;
	height:18px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-9px 0 0 -50px;
}
.loadingtips .preloader{
	width: 18px;
	height: 18px;
	background: url(/static/images/preloader_alpha_18x18.gif);
	float:left;
}
.loadingtips .tx{
	height: 18px;
	line-height:18px;
	float:left;
	margin-left:5px;
}
/*加载中*/

/*加载失败*/
.loadFailure{
	width:225px;
	height:24px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-9px 0 0 -105px;
}
.loadFailure .failure{
	width: 24px;
	height: 24px;
	background: url(/static/images/alert-triangle-red.png);
	float:left;
}
.loadFailure .tx{
	height: 24px;
	line-height:24px;
	float:left;
	margin-left:5px;
}
/*加载失败*/

/*活动图标*/
.actionIcon{
	margin:0 5px;
	vertical-align:middle;
}
/*活动图标*/